hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #ccc;
  margin: 0px;
  padding: 0;
}

span {
  color: white;
  font-weight: bold;
  border-top-right-radius: 8px;
}

/*Spinning pokeball code*/
.rotate {
  -webkit-animation: spin 8s linear infinite;
  -moz-animation: spin 8s linear infinite;
  animation: spin 8s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.type-image {
  width: 50px;
  height: auto;
}

.card-text {
  font-size: large;
}

.col {
  margin-bottom: 1em;
}

.col:nth-child(-n + 3) {
  margin-top: 1em;
}

#logo {
  width: 15em;
}

ul {
  list-style-type: none; /*Removes the bullets from the ordered list */
}

/*Flipping card code*/
.wrapper {
  position: relative;
}

div.back {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 10px;
  transform: rotateY(90deg);
}

li:hover .front {
  animation: cardFlip 0.2s ease-in forwards;
}
li:hover .back {
  animation: cardFlip 0.2s 0.2s ease-out forwards reverse;
}

@keyframes cardFlip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}
