{%extends "layout.html"%} {%block title%}
<title>Home Page</title>
{%endblock title%} {%block content%}
<h1>Pokemon Cards</h1>
<div class="container">
  <div class="row row-cols-3">
    {%for datum in data%}
    <div class="col">
      <!-- Card element starts here -->
      <div class="card">
        <img
        src="https://pokeres.bastionbot.org/images/pokemon/{{datum["number"]}}.png"
        class="card-img-top" alt="Pokemon image" />
        <hr />
        <div class="card-body">
          {%for type in datum["types"]%}
          <img
            src="{{url_for('static', filename='type_images/{}.png'.format(type))}}"
            class="img-fluid type"
            alt="Type image"
          />
          {%endfor%}
          <h5 class="card-title">{{datum["name"]}}</h5>
          <p class="card-text">Type: {{datum["types"]}}</p>
          <h6>Stats</h6>
          <p>{{datum["stats"]}}</p>
        </div>
      </div>
      <!-- Card element stops here -->
    </div>
      {%endfor%} {%endblock content%}
  </div>
</div>
